{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='simplemde.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='editor.css')}}">
<script src="{{ url_for('static', filename='simplemde.min.js')}}"></script>
{% endblock %}
{% block style %}
.tag-item {
    display: inline-block;
    padding: 3px;
    background-color: black;
    color: white;
}
{% endblock %}
{% block body %}
<h1>{{ page.title }}</h1>
<p>
    {% for tag in page.tags %}    
    <div class="tag-item">{{ tag.name }}</div> 
    {% endfor %}
</p>
<textarea id="content"></textarea>
{% endblock %}
{% block script %}
var editor = new SimpleMDE({ element: $("#content")[0] });
editor.value({{ page.content | tojson}});
{% endblock %}

