{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.tag-editor.css') }}">
{% endblock %}
{% block body %}
<h1> Add a new page </h1>
<form method="post">
    <label for="title">Title: <input id="title" name="title" type="text"></label><br>
    <label for="tagger">Tags: </label><input id="tagger" name="tagger">
    <div id="tag-list">
    </div>
    <label for="Content">Content:<br><textarea rows=15 cols=90 name="content"></textarea></label>
    <br>
    <input type="submit">
</form>
<script>
    $('#tagger').tagEditor();
    $("form").submit( function(eventObj) {
        var tags = $('#tagger').tagEditor('getTags')[0].tags;
        $.each(tags, function(i, v){
            $('<input />').attr('type', 'hidden')
                .attr('name', "tags[]")
                .attr('value', v)
                .appendTo('#tag-list');
        });
        return true;
    });
</script>
{% endblock %}
