<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>WoxWiki</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.caret.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.tag-editor.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='sakura-light.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
        {% block head %}{% endblock %}
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div id="body-container">
        <aside id="side-left"></aside>
        <main id="main">
        {% block body %}{% endblock %}
        </main>
        <aside id="side-right"></aside>
        </div>
        <script type="text/javascript">{% block script %}{% endblock %}</script>
    </body>
</html>
