{% extends "base.html" %}
{% block style %}
.tag-item {
    display: inline-block;
    padding: 3px;
    background-color: black;
    color: white;
}
{% endblock %}
{% block body %}
<h1>Welcome to WoxWiki</h1>
<ul>
{% for page in pages %}
<li>
    <p><a href="{{ url_for('page', pid=page.id) }}">{{page.title}}</a><p>
    {% if page.tags %}
    <p>
    {% for tag in page.tags %}    
    <div class="tag-item">{{ tag.name }}</div> 
    {% endfor %}
    </p>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
